* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: aqua;
  border: 2px solid blue;
  border-radius: 4px;
  font-size: 32px;
  color: blue;
}

i {
  animation: all 300ms ease-in;
}

i:hover {
  transform: scale(1.1);
}

em {
  text-decoration: underline 3px solid aqua;
  text-underline-offset: 4px;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  margin: auto;
  width: 800px;
  text-align: center;
}

.header {
  padding: 16px;
}

.title {
  color: aqua;
  background-color: blue;
  font-size: 2rem;
}

.description {
  color: white;
}

.help_img {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid blue;
  margin-top: 4px;
}

.help_img.visible {
  display: block;
}

.background {
  width: 100%;
  height: 450px;
  background: url(img/bg.jpg) center/cover no-repeat;
  border: 4px solid blue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.top {
  height: 40%;
}

.top button {
  display: none;
}

.top button.visible {
  display: block;
  margin: auto;
}

.timer {
  background-color: white;
  width: 80px;
  margin: 10px auto;
  font-size: 24px;
  color: blue;
  border: 2px solid blue;
  border-radius: 4px;
}

.counter {
  width: 50px;
  height: 50px;
  margin: auto;
  font-size: 32px;
  line-height: 50px;
  border-radius: 50%;
  background-color: blue;
  color: white;
}

.bottom {
  height: 60%;
  position: relative;
  text-align: left;
}

.result {
  width: 300px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 30px 0;
  border-radius: 10px;
  display: none;
  text-align: center;
  z-index: 3;
}

.result.visible {
  display: block;
  margin: auto;
}

.replay {
  background-color: aqua;
  border: 2px solid blue;
  border-radius: 4px;
}

.message {
  margin: 0;
  font-size: 32px;
  margin-top: 10px;
}

.cat,
.penguin {
  cursor: pointer;
  position: absolute;
}

.penguin {
  height: 120px;
}

.footer {
  margin-top: 16px;
  color: white;
}

.footer i {
  cursor: pointer;
  font-size: 32px;
}
